@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TSL SMS Service</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </environment>
    <environment exclude="Development">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/pmd/dist/css/propeller.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/pmd/dist/js/propeller.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/smsClient.js"></script>

    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo-tsl.png" width="150" height="59" alt="tsl-logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form asp-controller="User" asp-action="Logout" method="post">
                        <ul class="navbar-nav flex-grow-1 justify-content-end">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a class="btn btn-link" asp-controller="Sms" asp-action="Index">
                                        <i class="material-icons">
                                            textsms
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-link" asp-controller="User" asp-action="Index" asp-route-id="@SignInManager.UserManager.GetUserId(SignInManager.Context.User)">
                                        <i class="material-icons">
                                            account_box
                                        </i>
                                    </a>
                                </li>
                                <li>
                                    <button class="btn btn-outline-danger" type="submit">Log out</button>
                                </li>
                            }
                            else
                            {
                                <li><a asp-area="" class="btn btn-outline-primary" asp-controller="User" asp-action="Login">Log in</a></li>
                            }
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    @await Html.PartialAsync("_MessageView")
    <div class="container">
        @await Html.PartialAsync("_CookieConsentPartial")

        <main role="main" class="pb-3 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Julia
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>

</html>


