
@{
    var message = TempData["ReturnMessage"];
    var type = TempData["AlertType"];
    var alert = new Alert();
    if (message != null && type != null)
    {
        alert = new Alert() { Message = message.ToString(), Type = type.ToString() };
    }
}

@if (!string.IsNullOrEmpty(alert.Message))
{
    <div aria-live="polite" aria-atomic="true" style="top: 100px; right: 100px; position: absolute; min-height: 300px; min-width: 500px;">
        <div style="position: absolute; top: 0; right: 0;">
            <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Alert</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <p>@alert.Message</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#toast').toast({
                delay: 2000
            });
            $('#toast').toast('show');
        });
    </script>
}