
@{
    ViewData["Title"] = "About";
    var version = ViewData["Version"];
    var osName = ViewData["OsName"];
}

<h1>About</h1>
<div class="row">
    <div class="col-sm-8 col-md-10 col-lg-12">
        <h2>About SMS service aka Julia</h2>
        <p>
            This is Julia. It is a simple SMS Web Service to help you easily send SMS messages through the GSM modem connected directly to the physical host
            this app is deployed on.
        </p>
    </div>

    <div class="col-sm-8 col-md-10 col-lg-6 pt-4">
        <h2>Technical information</h2>
        <p>
            Detailed information for system administrators are in <a href="~/files/sysadmin-doc.rtf">this</a> file.<br />
            There will be a web documentation accessible for developers soon. <br />
            This is Julia v.@version . <br />
            Software built in ASP.NET Core 2.2 with Razor, hosted on @osName . <br/>
        </p>
    </div>
    <div class="col-sm-8 col-md-10 col-lg-6 pt-4">
        <h2>About developer</h2>
        <p>
            My nickname is Arkasian. I am 20 years old, IT passionate - programmer and sysadmin. <br />
            You can take a look at my projects on my <a href="https://me.lukas-bownik.net/Home/Projects">portfolio</a> page.
        </p>
    </div>
</div>
