@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SMS Service is in up-state.</h1>
    <p>It seems that everyting is fine with SMS Web Service.</p>
</div>
