
@{
    ViewData["Title"] = "Shutdown";
}
    <h1>System shutdown</h1>
<div class="row">
    <div class="col-sm-12">
            <strong>System will shutdown securely in no time...</strong>
            <div class="spinner-border ml-auto pl-4" role="status" aria-hidden="true"></div>
    </div>
</div>
